* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 30%;
  margin: 0 auto;
}
header {
  margin-top: 20px;
  text-align: center;
}
.quotes-container {
  margin: 40px 0;
  border-top: 1px solid hsl(130, 100%, 80%);
  border-left: 1px solid hsl(130, 100%, 80%);
  border-right: 3px solid hsl(130, 100%, 80%);
  border-radius: 0 0 10px 10px;
}
.quote {
  position: relative;
  display: block;
  padding: 20px;
  border-bottom: 4px solid hsl(130, 100%, 80%);
  border-radius: 0 0 10px 10px;
}
.author {
  display: block;
  text-align: right;
  text-transform: capitalize;
  font-weight: 400;
  color: hsl(210, 100%, 60%);
}
.author::before {
  content: "~";
}
.delete {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url('../close-button.png') no-repeat center;
  background-size: contain;
  bottom: 10px;
  right: 10px;
}
.text::before , .text::after{
  display: inline-block;
  content: "  ";
  width: 10px;
  height: 10px;
  background-size: 100% 100%;
  margin-bottom: 10px;
}
.text {
  font-size: 20px;
}
.text::before {
  background-image: url('../open-quote.png');
}
.text::after {
  background-image: url('../close-quote.png')
}
.input-container {
  text-align: center;
  margin-bottom: 20px;
}
input {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
}
