<!DOCTYPE html>
<html ng-app="quoteBookApp">
  <head>
    <meta charset="utf-8">
    <title>Quote Book</title>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
    <script src="/js/mainCtrl.js" charset="utf-8"></script>
    <script src="/js/mainService.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainCtrl">
    <header>QuoteBook</header>
    <div class="quotes-container">
      <p class="quote" ng-repeat="quote in quotes track by $index">
        <span class="text">{{ quote.text }}</span>
        <span class="author">{{ quote.author }}</span>
        <span ng-click="removeData(quote.text)" class="delete"><img src="close-button.png" alt=""></span>
      </p>
    </div>
    <input type="text" ng-model="quote.text" placeholder="Add new quote"/>
    <input type="text" ng-model="quote.author" placeholder="Add author" />
    <button ng-click="addData(quote)">Add Quote</button>

  </body>
</html>
